

            <div class="w3-col l6 m4 s6 w3-animate-fade" id="get_local_books"style="line-height:43px;border-radius:2px;height:27px;color:#d9d9d9;font-weight:800;font-family:segoe ui light;margin-bottom:1px;text-align:center;">
            <span class="fa fa-download"></span> My Books

            </div>
            <div class="w3-col l6 m4 s6 w3-animate-fade" id="getevents" style="line-height:43px;border-radius:2px;height:27px;color:#d9d9d9;font-weight:800;font-family:segoe ui light;margin-bottom:1px;text-align:center;">
             <span class="fa fa-map-marker"></span> Book Distributers
            </div>
            