

<a href="#" class="" style="color:white;text-decoration:none;float:left;margin-left:10px;font-weight:400;font-size:1.4em"> 
 ZAP
</a> 

<i>

<span class="fa fa-bars" onclick="openNav()" style="font-size:1.5em;float:right;margin-top:2px;margin-right:6px;color:#cccccc;width:25px;height:25px;">
</span>
</i>
	 
	 
<i>

<span class="fa fa-commenting" id="chats_all" style="font-size:1.5em;float:right;margin-top:2px;margin-right:7px;color:gray;">
</span>

</i> 
 
<i>

<a href="" class="fa fa-home" style="font-size:1.5em;float:right;margin-top:2px;margin-right:7px;color:#cccccc;width:25px;height:25px;">
</a>

</i> 
 <i>
 
 <input type="text" class="" id="search" name="search" placeholder="Search.." style="color:black;">
 
 
</i> 