
<a href="#" class="" style="color:white;text-decoration:none;float:left;margin-left:10px;font-weight:400;font-size:1.4em"> 
 ZAP
</a>  

 <div class="dropdown" style="float:right;">

<span class="dropbtn fa fa-ellipsis-v"></span>

<div class="dropdown-content"  style="margin-top:-10px;">
<a href="#" onclick="document.getElementById('loginmodal').style.display='block'"> 
<span class="fa fa-user"></span>
 Login
</a>
<a href="#"  onclick="document.getElementById('signupmodal').style.display='block'" > 
<span class="fa fa-pencil"></span>
Creat Account
</a>
<a href="#"> 
<span class="fa fa-exclamation"></span>
Help
</a>
</div>
</div>

	  
	  
	   
 <style>
.dropbtn {
    background-color:transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
	margin-top:-14px;
	height:30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: gray;
    text-decoration: none;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color:#fff;
}
</style>
  
 