  <!---   START OF: top nav 2--->

 <div href="" class="w3-col l4 m4 s4" id="getmedia2" style="font-size:14px;line-height:43px;border-radius:2px;height:27px;color:#d9d9d9;font-weight:800;font-family:segoe ui light;margin-bottom:1px;text-align:center;" >
 LATEST
 </div>
 <div class="w3-col l4 m4 s4" id="getmedia" style="font-size:14px;line-height:43px;border-radius:2px;height:27px;color:#d9d9d9;font-weight:800;font-family:segoe ui light;margin-bottom:1px;text-align:;"> 
  ALBUMS
</div>
<div class="w3-col l4 m4 s4" id="getmedia" style="font-size:14px;line-height:43px;border-radius:2px;height:27px;color:#d9d9d9;font-weight:800;font-family:segoe ui light;margin-bottom:1px;text-align:;"> 
 ARTISTS
</div>
 
 